/*  cleanner */
html,
body {
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: white;
  color: black;
}

.box {
  position: relative;
  background-color: cornflowerblue;
  margin-top: 60px;
  width: 400px;
  height: 600px;
}

.box--small {
  background-color: yellowgreen;
  width: 80px;
  height: 80px;
}

.box--middle-size {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: hotpink;
  width: 150px;
  height: 150px;
}

.box--big {
  background-color: chocolate;
  width: 250px;
  height: 250px;
}
