@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white w-screen h-screen max-w-full text-white font-mono;
}

@layer components {
  .datepicker {
    @apply relative z-10;
  }
  .datepicker > div {
    @apply !input !input-bordered !input-ghost !glass;
  }
  .datepicker > div > input {
    @apply !text-base !pl-[28px] !h-full !ring-0 !grow focus:!text-white placeholder:!text-white placeholder:!text-opacity-70;
  }
  .datepicker > div > button {
    @apply !left-0 !w-10 !px-4 !text-white;
  }
  .datepicker > div > div > div {
    @apply !bg-neutral-800;
  }
}

@layer base {
  :root {
    --header-heigth: 64px;
  }
}

/* Estilos para los botones de Landing page */
.custom-login-btn {
  background-color: rgb(146, 44, 124);
  color: white;
}

.custom-signup-btn {
  background-color: rgba(26, 84, 143, 0.886);
  color: white;
}

/* Background color del HEADER */
.rgba-background {
  background: radial-gradient(
    circle at right,
    rgba(0, 128, 255, 0.886),
    rgba(255, 0, 200, 0.66)
  );
}

/* Estilo personalizado para sombra con retroiluminación de color */
.shadow-circle {
  background: rgb(255, 111, 224);
}

.shadow-box {
  box-shadow: /* Sombra rosa */ 0 0 120px 90px rgba(255, 0, 200, 0.452),
    /* Sombra azul */ 0 0 200px 120px rgba(0, 128, 255, 0.384);
  background: radial-gradient(
    circle at right,
    rgba(0, 128, 255, 0.578),
    rgba(255, 0, 200, 0.347)
  );
}

.section-wrapper {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Asegura que el padding/margin se comporten bien */
}

.section-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 128, 255, 0.578) 50%,
    rgba(255, 0, 200, 0.347) 80%
  );
}
