@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-customBackground w-screen h-screen max-w-full text-white font-sans;
}

@layer components {
  .datepicker {
    @apply relative z-10;
  }
  .datepicker > div {
    @apply !input !input-bordered !input-ghost !glass;
  }
  .datepicker > div > input {
    @apply !text-base !pl-[28px] !h-full !ring-0 !grow focus:!text-white placeholder:!text-white placeholder:!text-opacity-70;
  }
  .datepicker > div > button {
    @apply !left-0 !w-10 !px-4 !text-white;
  }
  .datepicker > div > div > div {
    @apply !bg-neutral-800;
  }
}

@layer base {
  :root {
    --header-heigth: 64px;
  }
}
body.modal-open {
  background-color: rgb(243, 236, 217) !important;
}

/*******************************************     HEADER   ************************************************************/

.active {
  /* Your desired styling for the active link, e.g., */
  font-weight: bold;
  color: rgb(239, 121, 157);
}

/* Estilos base para los botones */
.custom-login-btn {
  background-color: rgb(46, 81, 156);
  color: white;
  transition: filter 0.3s ease, background-color 0.3s ease;
}

.custom-signup-btn {
  background-color: rgb(121, 38, 103);
  color: white;
  transition: filter 0.3s ease, background-color 0.3s ease;
}

.navbar-center .btn {
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Escala los links al pasar el ratón */
.navbar-center .btn:hover {
  transform: scale(1.1); /* Incrementa el tamaño un 10% */
  color: rgb(239, 121, 157); /* Cambia opcionalmente el color */
}

/* Cambia el color de fondo de los botones al pasar el ratón */
.custom-login-btn:hover {
  background-color: rgb(78, 127, 233);
}

.custom-signup-btn:hover {
  background-color: rgb(207, 70, 171);
}

/********************************************** Fondos *******************************************/
.bg-pink {
  background: rgb(239, 121, 157);
}

.bg-circle {
  background: rgb(243, 236, 217);
}

/********************************************** Formulario sign up *******************************************/
.custom-box {
  border: 3px solid rgb(239, 121, 157); /* Borde del color deseado */
  box-shadow: 0 0 400px 200px rgba(239, 121, 157, 0.5); /* Retroiluminación */
}

.shadow-box {
  box-shadow: /* Sombra rosa */ 0 0 120px 90px rgba(255, 0, 200, 0.452),
    /* Sombra azul */ 0 0 200px 120px rgba(0, 128, 255, 0.384);
  background: radial-gradient(
    circle at right,
    rgba(0, 128, 255, 0.578),
    rgba(255, 0, 200, 0.347)
  );
}

.section-wrapper {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Asegura que el padding/margin se comporten bien */
}

.section-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 128, 255, 0.578) 50%,
    rgba(255, 0, 200, 0.347) 80%
  );
}

/********************************************** Resaltar inputs *******************************************/

@keyframes blink {
  0%,
  100% {
    border-color: rgba(255, 0, 200, 0.452);
  }
  50% {
    border-color: transparent;
  }
}

.blinking-input {
  animation: blink 1s infinite;
  border-width: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out forwards;
}
