html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: grid;
}

.art {
  place-self: center;
  height: min(450px, 100vw);
  width: min(450px, 100%);
  background-color: grey;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(24, 1fr);
  gap: 1px;
  border: 1px solid grey;
}

.art--pixel {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.art--pixel:nth-child(81),
.art--pixel:nth-child(82),
.art--pixel:nth-child(83),
.art--pixel:nth-child(84),
.art--pixel:nth-child(85),
.art--pixel:nth-child(86),
.art--pixel:nth-child(87),
.art--pixel:nth-child(88),
.art--pixel:nth-child(103),
.art--pixel:nth-child(104),
.art--pixel:nth-child(113),
.art--pixel:nth-child(114),
.art--pixel:nth-child(125),
.art--pixel:nth-child(126),
.art--pixel:nth-child(139),
.art--pixel:nth-child(140),
.art--pixel:nth-child(78),
.art--pixel:nth-child(53),
.art--pixel:nth-child(28),
.art--pixel:nth-child(3),
.art--pixel:nth-child(22),
.art--pixel:nth-child(45),
.art--pixel:nth-child(68),
.art--pixel:nth-child(91),
.art--pixel:nth-child(561),
.art--pixel:nth-child(562),
.art--pixel:nth-child(563),
.art--pixel:nth-child(564),
.art--pixel:nth-child(565),
.art--pixel:nth-child(566),
.art--pixel:nth-child(567),
.art--pixel:nth-child(568),
.art--pixel:nth-child(535),
.art--pixel:nth-child(536),
.art--pixel:nth-child(534),
.art--pixel:nth-child(545),
.art--pixel:nth-child(546),
.art--pixel:nth-child(547),
.art--pixel:nth-child(509),
.art--pixel:nth-child(508),
.art--pixel:nth-child(524),
.art--pixel:nth-child(525),
.art--pixel:nth-child(561),
.art--pixel:nth-child(561),
.art--pixel:nth-child(263),
.art--pixel:nth-child(264),
.art--pixel:nth-child(561),
.art--pixel:nth-child(482),
.art--pixel:nth-child(483),
.art--pixel:nth-child(493),
.art--pixel:nth-child(502),
.art--pixel:nth-child(503),
.art--pixel:nth-child(480),
.art--pixel:nth-child(457),
.art--pixel:nth-child(456),
.art--pixel:nth-child(433),
.art--pixel:nth-child(434),
.art--pixel:nth-child(435),
.art--pixel:nth-child(436),
.art--pixel:nth-child(468),
.art--pixel:nth-child(470),
.art--pixel:nth-child(443),
.art--pixel:nth-child(447),
.art--pixel:nth-child(453),
.art--pixel:nth-child(454),
.art--pixel:nth-child(455),
.art--pixel:nth-child(428),
.art--pixel:nth-child(413),
.art--pixel:nth-child(389),
.art--pixel:nth-child(404),
.art--pixel:nth-child(400),
.art--pixel:nth-child(424),
.art--pixel:nth-child(418),
.art--pixel:nth-child(394),
.art--pixel:nth-child(370),
.art--pixel:nth-child(376),
.art--pixel:nth-child(379),
.art--pixel:nth-child(355),
.art--pixel:nth-child(342),
.art--pixel:nth-child(366),
.art--pixel:nth-child(318),
.art--pixel:nth-child(293),
.art--pixel:nth-child(269),
.art--pixel:nth-child(244),
.art--pixel:nth-child(243),
.art--pixel:nth-child(242),
.art--pixel:nth-child(241),
.art--pixel:nth-child(169),
.art--pixel:nth-child(170),
.art--pixel:nth-child(147),
.art--pixel:nth-child(148),
.art--pixel:nth-child(191),
.art--pixel:nth-child(192),
.art--pixel:nth-child(165),
.art--pixel:nth-child(166),
.art--pixel:nth-child(261),
.art--pixel:nth-child(262),
.art--pixel:nth-child(284),
.art--pixel:nth-child(308),
.art--pixel:nth-child(331),
.art--pixel:nth-child(351),
.art--pixel:nth-child(347),
.art--pixel:nth-child(158),
.art--pixel:nth-child(135),
.art--pixel:nth-child(111) {
  background-color: black;
}
