html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  display: grid;
}

.art {
  place-self: center;
  height: min(450px, 100vw);
  width: min(450px, 100%);
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(27, 1fr);
  grid-template-columns: repeat(27, 1fr);
  gap: 1px;
  border: 1px solid rgb(255, 255, 255);
}

.art--pixel {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.art--pixel:nth-child(30),
.art--pixel:nth-child(52), 
.art--pixel:nth-child(58),
.art--pixel:nth-child(85),
.art--pixel:nth-child(78),
.art--pixel:nth-child(105),
.art--pixel:nth-child(112),
.art--pixel:nth-child(139),
.art--pixel:nth-child(158),
.art--pixel:nth-child(131),
.art--pixel:nth-child(113),
.art--pixel:nth-child(140),
.art--pixel:nth-child(168),
.art--pixel:nth-child(195),
.art--pixel:nth-child(222),
.art--pixel:nth-child(168),
.art--pixel:nth-child(195),
.art--pixel:nth-child(222),
.art--pixel:nth-child(184),
.art--pixel:nth-child(211),
.art--pixel:nth-child(238),
.art--pixel:nth-child(411),
.art--pixel:nth-child(438),
.art--pixel:nth-child(427),
.art--pixel:nth-child(454),
.art--pixel:nth-child(453),
.art--pixel:nth-child(452),
.art--pixel:nth-child(451),
.art--pixel:nth-child(450),
.art--pixel:nth-child(449),
.art--pixel:nth-child(448),
.art--pixel:nth-child(447),
.art--pixel:nth-child(446),
.art--pixel:nth-child(445),
.art--pixel:nth-child(444),
.art--pixel:nth-child(443),
.art--pixel:nth-child(442),
.art--pixel:nth-child(441),
.art--pixel:nth-child(440),
.art--pixel:nth-child(439),
.art--pixel:nth-child(466),
.art--pixel:nth-child(480),
.art--pixel:nth-child(556),
.art--pixel:nth-child(529),
.art--pixel:nth-child(530),
.art--pixel:nth-child(502),
.art--pixel:nth-child(498),
.art--pixel:nth-child(525),
.art--pixel:nth-child(552),
.art--pixel:nth-child(524),
.art--pixel:nth-child(578),
.art--pixel:nth-child(577),
.art--pixel:nth-child(576),
.art--pixel:nth-child(605),
.art--pixel:nth-child(632),
.art--pixel:nth-child(659),
.art--pixel:nth-child(658),
.art--pixel:nth-child(657),
.art--pixel:nth-child(667),
.art--pixel:nth-child(665),
.art--pixel:nth-child(666),
.art--pixel:nth-child(638),
.art--pixel:nth-child(611),
.art--pixel:nth-child(584),
.art--pixel:nth-child(585),
.art--pixel:nth-child(586),
.art--pixel:nth-child(200),
.art--pixel:nth-child(201),
.art--pixel:nth-child(202),
.art--pixel:nth-child(203),
.art--pixel:nth-child(204),
.art--pixel:nth-child(198),
.art--pixel:nth-child(199),
.art--pixel:nth-child(205),
.art--pixel:nth-child(206),
.art--pixel:nth-child(207),
.art--pixel:nth-child(208),
.art--pixel:nth-child(231),
.art--pixel:nth-child(232),
.art--pixel:nth-child(233),
.art--pixel:nth-child(234),
.art--pixel:nth-child(235),
.art--pixel:nth-child(236),
.art--pixel:nth-child(229),
.art--pixel:nth-child(228),
.art--pixel:nth-child(227),
.art--pixel:nth-child(226),
.art--pixel:nth-child(225),
.art--pixel:nth-child(252),
.art--pixel:nth-child(253),
.art--pixel:nth-child(254),
.art--pixel:nth-child(255),
.art--pixel:nth-child(256),
.art--pixel:nth-child(257),
.art--pixel:nth-child(230),
.art--pixel:nth-child(258),
.art--pixel:nth-child(259),
.art--pixel:nth-child(260),
.art--pixel:nth-child(285),
.art--pixel:nth-child(284),
.art--pixel:nth-child(283),
.art--pixel:nth-child(282),
.art--pixel:nth-child(281),
.art--pixel:nth-child(287),
.art--pixel:nth-child(286),
.art--pixel:nth-child(261),
.art--pixel:nth-child(309),
.art--pixel:nth-child(310),
.art--pixel:nth-child(311),
.art--pixel:nth-child(312),
.art--pixel:nth-child(313),
.art--pixel:nth-child(338),
.art--pixel:nth-child(336),
.art--pixel:nth-child(337),
.art--pixel:nth-child(339),
.art--pixel:nth-child(340),
.art--pixel:nth-child(367),
.art--pixel:nth-child(363),
.art--pixel:nth-child(417),
.art--pixel:nth-child(416),
.art--pixel:nth-child(415),
.art--pixel:nth-child(384),
.art--pixel:nth-child(412),
.art--pixel:nth-child(422),
.art--pixel:nth-child(421),
.art--pixel:nth-child(423),
.art--pixel:nth-child(395),
.art--pixel:nth-child(400),
.art--pixel:nth-child(426),
.art--pixel:nth-child(389),
.art--pixel:nth-child(173),
.art--pixel:nth-child(174),
.art--pixel:nth-child(175),
.art--pixel:nth-child(176),
.art--pixel:nth-child(177),
.art--pixel:nth-child(178),
.art--pixel:nth-child(179),
.art--pixel:nth-child(150),
.art--pixel:nth-child(148),
.art--pixel:nth-child(122),
.art--pixel:nth-child(124)    {
  background-color: rgb(31, 67, 125);
}

.art--pixel:nth-child(479),
.art--pixel:nth-child(478),
.art--pixel:nth-child(477),
.art--pixel:nth-child(476),
.art--pixel:nth-child(475),
.art--pixel:nth-child(474),
.art--pixel:nth-child(473),
.art--pixel:nth-child(472),
.art--pixel:nth-child(471),
.art--pixel:nth-child(470),
.art--pixel:nth-child(469),
.art--pixel:nth-child(468),
.art--pixel:nth-child(467),
.art--pixel:nth-child(499),
.art--pixel:nth-child(500),
.art--pixel:nth-child(501),
.art--pixel:nth-child(527),
.art--pixel:nth-child(554),
.art--pixel:nth-child(581),
.art--pixel:nth-child(608),
.art--pixel:nth-child(607),
.art--pixel:nth-child(609),
.art--pixel:nth-child(635),
.art--pixel:nth-child(636),
.art--pixel:nth-child(634),
.art--pixel:nth-child(308),
.art--pixel:nth-child(335),
.art--pixel:nth-child(362),
.art--pixel:nth-child(388),
.art--pixel:nth-child(414),
.art--pixel:nth-child(413),
.art--pixel:nth-child(385),
.art--pixel:nth-child(357),
.art--pixel:nth-child(330),
.art--pixel:nth-child(303),
.art--pixel:nth-child(276),
.art--pixel:nth-child(250),
.art--pixel:nth-child(224),
.art--pixel:nth-child(252),
.art--pixel:nth-child(280),
.art--pixel:nth-child(288),
.art--pixel:nth-child(314),
.art--pixel:nth-child(341),
.art--pixel:nth-child(368),
.art--pixel:nth-child(396),
.art--pixel:nth-child(424),
.art--pixel:nth-child(425),
.art--pixel:nth-child(399),
.art--pixel:nth-child(373),
.art--pixel:nth-child(346),
.art--pixel:nth-child(319),
.art--pixel:nth-child(292),
.art--pixel:nth-child(264),
.art--pixel:nth-child(236),
.art--pixel:nth-child(262)       {
    background-color: rgb(120, 153, 210);
  }

.art--pixel:nth-child(31),
.art--pixel:nth-child(51),
.art--pixel:nth-child(59),
.art--pixel:nth-child(86),
.art--pixel:nth-child(77),
.art--pixel:nth-child(104),
.art--pixel:nth-child(114),
.art--pixel:nth-child(141),
.art--pixel:nth-child(157),
.art--pixel:nth-child(130),
.art--pixel:nth-child(348),
.art--pixel:nth-child(328),
.art--pixel:nth-child(329),
.art--pixel:nth-child(302),
.art--pixel:nth-child(275),
.art--pixel:nth-child(347),
.art--pixel:nth-child(320),
.art--pixel:nth-child(293),
.art--pixel:nth-child(265),
.art--pixel:nth-child(237),
.art--pixel:nth-child(209),
.art--pixel:nth-child(181),
.art--pixel:nth-child(180),
.art--pixel:nth-child(152),
.art--pixel:nth-child(125),
.art--pixel:nth-child(98),
.art--pixel:nth-child(97),
.art--pixel:nth-child(151),
.art--pixel:nth-child(123),
.art--pixel:nth-child(95),
.art--pixel:nth-child(149),
.art--pixel:nth-child(121),
.art--pixel:nth-child(147),
.art--pixel:nth-child(146),
.art--pixel:nth-child(172),
.art--pixel:nth-child(171),
.art--pixel:nth-child(197),
.art--pixel:nth-child(223),
.art--pixel:nth-child(249),
.art--pixel:nth-child(273),
.art--pixel:nth-child(295),
.art--pixel:nth-child(374),
.art--pixel:nth-child(401),
.art--pixel:nth-child(428),
.art--pixel:nth-child(356),
.art--pixel:nth-child(383),
.art--pixel:nth-child(410),
.art--pixel:nth-child(637),
.art--pixel:nth-child(583),
.art--pixel:nth-child(610),
.art--pixel:nth-child(582),
.art--pixel:nth-child(555),
.art--pixel:nth-child(528),
.art--pixel:nth-child(580),
.art--pixel:nth-child(553),
.art--pixel:nth-child(526),
.art--pixel:nth-child(579),
.art--pixel:nth-child(606),
.art--pixel:nth-child(633),
.art--pixel:nth-child(660),
.art--pixel:nth-child(661),
.art--pixel:nth-child(662),
.art--pixel:nth-child(663),
.art--pixel:nth-child(664),
.art--pixel:nth-child(668),
.art--pixel:nth-child(641),
.art--pixel:nth-child(614),
.art--pixel:nth-child(587),
.art--pixel:nth-child(559),
.art--pixel:nth-child(531),
.art--pixel:nth-child(503),
.art--pixel:nth-child(694),
.art--pixel:nth-child(693),
.art--pixel:nth-child(692),
.art--pixel:nth-child(686),
.art--pixel:nth-child(685),
.art--pixel:nth-child(684),
.art--pixel:nth-child(656),
.art--pixel:nth-child(629),
.art--pixel:nth-child(602),
.art--pixel:nth-child(575),
.art--pixel:nth-child(603),
.art--pixel:nth-child(604),
.art--pixel:nth-child(630),
.art--pixel:nth-child(631),
.art--pixel:nth-child(549),
.art--pixel:nth-child(550),
.art--pixel:nth-child(551),
.art--pixel:nth-child(523),
.art--pixel:nth-child(497),
.art--pixel:nth-child(639),
.art--pixel:nth-child(640),
.art--pixel:nth-child(613),
.art--pixel:nth-child(612),
.art--pixel:nth-child(557),
.art--pixel:nth-child(558),
.art--pixel:nth-child(420),
.art--pixel:nth-child(419),
.art--pixel:nth-child(418),
.art--pixel:nth-child(391),
.art--pixel:nth-child(390),
.art--pixel:nth-child(392),
.art--pixel:nth-child(393),
.art--pixel:nth-child(394),
.art--pixel:nth-child(364),
.art--pixel:nth-child(366),
.art--pixel:nth-child(365),
.art--pixel:nth-child(361),
.art--pixel:nth-child(360),
.art--pixel:nth-child(387),
.art--pixel:nth-child(386),
.art--pixel:nth-child(358),
.art--pixel:nth-child(331),
.art--pixel:nth-child(304),
.art--pixel:nth-child(277),
.art--pixel:nth-child(278),
.art--pixel:nth-child(279),
.art--pixel:nth-child(251),
.art--pixel:nth-child(305),
.art--pixel:nth-child(332),
.art--pixel:nth-child(333),
.art--pixel:nth-child(334),
.art--pixel:nth-child(307),
.art--pixel:nth-child(369),
.art--pixel:nth-child(370),
.art--pixel:nth-child(372),
.art--pixel:nth-child(342),
.art--pixel:nth-child(343),
.art--pixel:nth-child(344),
.art--pixel:nth-child(345),
.art--pixel:nth-child(315),
.art--pixel:nth-child(317),
.art--pixel:nth-child(318),
.art--pixel:nth-child(290),
.art--pixel:nth-child(291),
.art--pixel:nth-child(263),
.art--pixel:nth-child(289),
.art--pixel:nth-child(398),
.art--pixel:nth-child(397)          {
  background-color: rgb(3, 3, 3);
}

.art--pixel:nth-child(56),
.art--pixel:nth-child(57),
.art--pixel:nth-child(80),
.art--pixel:nth-child(79),
.art--pixel:nth-child(83),
.art--pixel:nth-child(84),
.art--pixel:nth-child(107),
.art--pixel:nth-child(106),
.art--pixel:nth-child(112),
.art--pixel:nth-child(111),
.art--pixel:nth-child(132),
.art--pixel:nth-child(134),
.art--pixel:nth-child(133),
.art--pixel:nth-child(138),
.art--pixel:nth-child(139),
.art--pixel:nth-child(137),
.art--pixel:nth-child(159),
.art--pixel:nth-child(160),
.art--pixel:nth-child(161),
.art--pixel:nth-child(164),
.art--pixel:nth-child(165),
.art--pixel:nth-child(166),
.art--pixel:nth-child(167),
.art--pixel:nth-child(185),
.art--pixel:nth-child(187),
.art--pixel:nth-child(186), 
.art--pixel:nth-child(191),
.art--pixel:nth-child(192),
.art--pixel:nth-child(193),
.art--pixel:nth-child(194),
.art--pixel:nth-child(218),
.art--pixel:nth-child(219),
.art--pixel:nth-child(220),
.art--pixel:nth-child(221), 
.art--pixel:nth-child(215),
.art--pixel:nth-child(214),
.art--pixel:nth-child(213),
.art--pixel:nth-child(212),
.art--pixel:nth-child(242),
.art--pixel:nth-child(241),
.art--pixel:nth-child(240),
.art--pixel:nth-child(239),
.art--pixel:nth-child(267),
.art--pixel:nth-child(266),
.art--pixel:nth-child(268), 
.art--pixel:nth-child(248),
.art--pixel:nth-child(246),
.art--pixel:nth-child(247),
.art--pixel:nth-child(274),
.art--pixel:nth-child(301),
.art--pixel:nth-child(294),
.art--pixel:nth-child(321)                  {
    background-color: rgb(178, 96, 161);
}

