html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(82, 160, 84);
  height: 100vh;
  width: 100vw;
  display: grid;
}

.art {
  place-self: center;
  height: min(450px, 100vw);
  width: min(450px, 100%);
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  gap: 1px;
  border: 1px solid rgb(255, 255, 255);
}

.art--pixel {
  background-color: gray;
  width: 100%;
  height: 100%;
}

.art--pixel:nth-child(51),
.art--pixel:nth-child(62),
.art--pixel:nth-child(66),
.art--pixel:nth-child(67),
.art--pixel:nth-child(71),
.art--pixel:nth-child(74),
.art--pixel:nth-child(78),
.art--pixel:nth-child(79),
.art--pixel:nth-child(83),
.art--pixel:nth-child(94),
.art--pixel:nth-child(119),
.art--pixel:nth-child(122),
.art--pixel:nth-child(134),
.art--pixel:nth-child(135),
.art--pixel:nth-child(132),
.art--pixel:nth-child(139),
.art--pixel:nth-child(141),
.art--pixel:nth-child(150),
.art--pixel:nth-child(149),
.art--pixel:nth-child(155),
.art--pixel:nth-child(156),
.art--pixel:nth-child(166),
.art--pixel:nth-child(171),
.art--pixel:nth-child(182),
.art--pixel:nth-child(187),
.art--pixel:nth-child(198),
.art--pixel:nth-child(199),
.art--pixel:nth-child(200),
.art--pixel:nth-child(201),
.art--pixel:nth-child(202),
.art--pixel:nth-child(203) {
  background-color: rgb(193, 115, 38);
}

.art--pixel:nth-child(19),
.art--pixel:nth-child(20),
.art--pixel:nth-child(21),
.art--pixel:nth-child(22),
.art--pixel:nth-child(27),
.art--pixel:nth-child(28),
.art--pixel:nth-child(29),
.art--pixel:nth-child(30),
.art--pixel:nth-child(34),
.art--pixel:nth-child(35),
.art--pixel:nth-child(36),
.art--pixel:nth-child(37),
.art--pixel:nth-child(38),
.art--pixel:nth-child(39),
.art--pixel:nth-child(40),
.art--pixel:nth-child(41),
.art--pixel:nth-child(42),
.art--pixel:nth-child(42),
.art--pixel:nth-child(43),
.art--pixel:nth-child(44),
.art--pixel:nth-child(45),
.art--pixel:nth-child(46),
.art--pixel:nth-child(47),
.art--pixel:nth-child(49),
.art--pixel:nth-child(50),
.art--pixel:nth-child(52),
.art--pixel:nth-child(53),
.art--pixel:nth-child(55),
.art--pixel:nth-child(56),
.art--pixel:nth-child(57),
.art--pixel:nth-child(58),
.art--pixel:nth-child(60),
.art--pixel:nth-child(61),
.art--pixel:nth-child(63),
.art--pixel:nth-child(64),
.art--pixel:nth-child(65),
.art--pixel:nth-child(68),
.art--pixel:nth-child(69),
.art--pixel:nth-child(70),
.art--pixel:nth-child(75),
.art--pixel:nth-child(72),
.art--pixel:nth-child(73),
.art--pixel:nth-child(76),
.art--pixel:nth-child(77),
.art--pixel:nth-child(80),
.art--pixel:nth-child(81),
.art--pixel:nth-child(82),
.art--pixel:nth-child(84),
.art--pixel:nth-child(87),
.art--pixel:nth-child(88),
.art--pixel:nth-child(89),
.art--pixel:nth-child(90),
.art--pixel:nth-child(93),
.art--pixel:nth-child(95),
.art--pixel:nth-child(96),
.art--pixel:nth-child(98),
.art--pixel:nth-child(99),
.art--pixel:nth-child(100),
.art--pixel:nth-child(103),
.art--pixel:nth-child(104),
.art--pixel:nth-child(105),
.art--pixel:nth-child(106),
.art--pixel:nth-child(109),
.art--pixel:nth-child(110),
.art--pixel:nth-child(111),
.art--pixel:nth-child(115),
.art--pixel:nth-child(116),
.art--pixel:nth-child(117),
.art--pixel:nth-child(120),
.art--pixel:nth-child(121),
.art--pixel:nth-child(124),
.art--pixel:nth-child(125),
.art--pixel:nth-child(126),
.art--pixel:nth-child(133),
.art--pixel:nth-child(140),
.art--pixel:nth-child(152),
.art--pixel:nth-child(153),
.art--pixel:nth-child(168),
.art--pixel:nth-child(169),
.art--pixel:nth-child(165),
.art--pixel:nth-child(172),
.art--pixel:nth-child(180),
.art--pixel:nth-child(181),
.art--pixel:nth-child(188),
.art--pixel:nth-child(189),
.art--pixel:nth-child(195),
.art--pixel:nth-child(196),
.art--pixel:nth-child(197),
.art--pixel:nth-child(204),
.art--pixel:nth-child(205),
.art--pixel:nth-child(206),
.art--pixel:nth-child(211),
.art--pixel:nth-child(212),
.art--pixel:nth-child(213),
.art--pixel:nth-child(214),
.art--pixel:nth-child(219),
.art--pixel:nth-child(220),
.art--pixel:nth-child(221),
.art--pixel:nth-child(222),
.art--pixel:nth-child(227),
.art--pixel:nth-child(228),
.art--pixel:nth-child(229),
.art--pixel:nth-child(236),
.art--pixel:nth-child(237),
.art--pixel:nth-child(238),
.art--pixel:nth-child(243),
.art--pixel:nth-child(244),
.art--pixel:nth-child(245),
.art--pixel:nth-child(252),
.art--pixel:nth-child(253),
.art--pixel:nth-child(254) {
  background-color: rgb(141, 81, 20);
}

.art--pixel:nth-child(54),
.art--pixel:nth-child(59),
.art--pixel:nth-child(136),
.art--pixel:nth-child(137),
.art--pixel:nth-child(138),
.art--pixel:nth-child(151),
.art--pixel:nth-child(154),
.art--pixel:nth-child(167),
.art--pixel:nth-child(170),
.art--pixel:nth-child(183),
.art--pixel:nth-child(184),
.art--pixel:nth-child(185),
.art--pixel:nth-child(186),
.art--pixel:nth-child(215),
.art--pixel:nth-child(216),
.art--pixel:nth-child(217),
.art--pixel:nth-child(218),
.art--pixel:nth-child(226),
.art--pixel:nth-child(230),
.art--pixel:nth-child(231),
.art--pixel:nth-child(232),
.art--pixel:nth-child(233),
.art--pixel:nth-child(234),
.art--pixel:nth-child(235),
.art--pixel:nth-child(239),
.art--pixel:nth-child(242),
.art--pixel:nth-child(246),
.art--pixel:nth-child(247),
.art--pixel:nth-child(248),
.art--pixel:nth-child(249),
.art--pixel:nth-child(250),
.art--pixel:nth-child(251),
.art--pixel:nth-child(255) {
  background-color: rgb(255, 255, 255);
}

.art--pixel:nth-child(102),
.art--pixel:nth-child(107) {
  background-color: rgb(0, 0, 0);
}

.art--pixel:nth-child(85),
.art--pixel:nth-child(86),
.art--pixel:nth-child(92),
.art--pixel:nth-child(91),
.art--pixel:nth-child(101),
.art--pixel:nth-child(108),
.art--pixel:nth-child(118),
.art--pixel:nth-child(123) {
  background-color: rgb(112, 181, 166);
}

.art--pixel:nth-child(1),
.art--pixel:nth-child(2),
.art--pixel:nth-child(3),
.art--pixel:nth-child(4),
.art--pixel:nth-child(5),
.art--pixel:nth-child(6),
.art--pixel:nth-child(7),
.art--pixel:nth-child(8),
.art--pixel:nth-child(9),
.art--pixel:nth-child(10),
.art--pixel:nth-child(11),
.art--pixel:nth-child(12),
.art--pixel:nth-child(13),
.art--pixel:nth-child(14),
.art--pixel:nth-child(15),
.art--pixel:nth-child(16),
.art--pixel:nth-child(17),
.art--pixel:nth-child(18),
.art--pixel:nth-child(23),
.art--pixel:nth-child(24),
.art--pixel:nth-child(25),
.art--pixel:nth-child(26),
.art--pixel:nth-child(31),
.art--pixel:nth-child(32),
.art--pixel:nth-child(33),
.art--pixel:nth-child(48),
.art--pixel:nth-child(97),
.art--pixel:nth-child(112),
.art--pixel:nth-child(113),
.art--pixel:nth-child(114),
.art--pixel:nth-child(127),
.art--pixel:nth-child(128),
.art--pixel:nth-child(129),
.art--pixel:nth-child(130),
.art--pixel:nth-child(131),
.art--pixel:nth-child(142),
.art--pixel:nth-child(143),
.art--pixel:nth-child(144),
.art--pixel:nth-child(145),
.art--pixel:nth-child(146),
.art--pixel:nth-child(147),
.art--pixel:nth-child(148),
.art--pixel:nth-child(157),
.art--pixel:nth-child(158),
.art--pixel:nth-child(159),
.art--pixel:nth-child(160),
.art--pixel:nth-child(161),
.art--pixel:nth-child(162),
.art--pixel:nth-child(163),
.art--pixel:nth-child(164),
.art--pixel:nth-child(173),
.art--pixel:nth-child(174),
.art--pixel:nth-child(175),
.art--pixel:nth-child(176),
.art--pixel:nth-child(177),
.art--pixel:nth-child(178),
.art--pixel:nth-child(179),
.art--pixel:nth-child(190),
.art--pixel:nth-child(191),
.art--pixel:nth-child(192),
.art--pixel:nth-child(192),
.art--pixel:nth-child(193),
.art--pixel:nth-child(194),
.art--pixel:nth-child(207),
.art--pixel:nth-child(208),
.art--pixel:nth-child(209),
.art--pixel:nth-child(210),
.art--pixel:nth-child(223),
.art--pixel:nth-child(224),
.art--pixel:nth-child(225),
.art--pixel:nth-child(240),
.art--pixel:nth-child(241),
.art--pixel:nth-child(256) {
  background-color: rgb(47, 131, 48);
}
