@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black w-screen h-screen max-w-full text-white font-mono;
}

.prose {
  @apply text-white;
}
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-explosion {
  animation: explode 0.5s ease-out forwards;
}