@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Tailwind utilities se aplican directamente aquí */
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  color: white;
  font-family: monospace;
  background: linear-gradient(to right, #93c5fd, #7c3aed); /* from-blue-300 to-purple-700 */
}

.prose {
  @apply text-white;
}
