@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    @apply text-white;
  }
}

@layer base {
  :root {
    --header-heigth: 64px;
  }
  
  body {
    @apply bg-black w-screen h-screen max-w-full text-white font-mono;
  }
}
