/* crear un cleaner */
html,
body {
  margin: 0;  
  background-color: rgba(0, 0, 0, 0.429);
  font-weight: 400;
  color: rgb(247, 232, 232);
}

/* meter etiquetas html y normalizarlas aplanarlas */

h1,
h2,
h3,
h4,
h5 {
  font-size: 14px;
}

